[*.cs]

# Configure specific rules
dotnet_diagnostic.IDE0160.severity = none
dotnet_diagnostic.IDE0130.severity = none
dotnet_diagnostic.IDE0290.severity = none
dotnet_diagnostic.IDE0008.severity = none
dotnet_diagnostic.IDE0003.severity = none
dotnet_diagnostic.CA1822.severity = none
dotnet_diagnostic.CA1707.severity = none
dotnet_diagnostic.IDE0046.severity = none
dotnet_diagnostic.S2325.severity = none
dotnet_diagnostic.IDE0058.severity = none
dotnet_diagnostic.IDE0006.severity = none
dotnet_diagnostic.IDE0065.severity = none


# General settings for code analysis
dotnet_analyzer_diagnostic.severity = error
csharp_indent_labels = one_less_than_current
csharp_using_directive_placement = outside_namespace:silent
csharp_prefer_simple_using_statement = true:suggestion
csharp_prefer_braces = true:silent
csharp_style_namespace_declarations = block_scoped:silent
csharp_style_prefer_method_group_conversion = true:silent
csharp_style_prefer_top_level_statements = true:silent
csharp_style_prefer_primary_constructors = true:suggestion
csharp_prefer_system_threading_lock = true:suggestion
csharp_style_expression_bodied_methods = false:silent
csharp_style_expression_bodied_constructors = false:silent
csharp_style_expression_bodied_operators = false:silent
csharp_style_expression_bodied_properties = true:silent
csharp_style_expression_bodied_indexers = true:silent
csharp_style_expression_bodied_accessors = true:silent